<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/header') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/convite.css">
    <title>Convidar</title>
</head>
<body>

            
                    <form action="/times/<%=time.id%>/convidar" method="post">
                        <p><%= time.nome %> </p>
                        <label for="email">Email</label>
                        <input type="email" name="email">
                        <button type="submit">Convidar membro</button>
                 
                </form>
       
</div>
<%- include('../includes/footer') %>
</body>
</html>