<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/header') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/opcoesEmpresa-Time.css">
    <title>Meus times</title>
</head>
<body>
    <div id="container">
        <h1>Times</h1>
        <div id="opcoes">
    
<div class="opcao">
    <a href="/times/cadastro" id="opcaotxt">Cadastrar time</a>
</div>

<div class="opcao">
    <a href="/times/listagem" id="opcaotxt">Times em que você está</a>
</div>
</div>
</div>
<%- include('../includes/footer') %>
</body>
</html>