<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/header') %>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/opcoesEmpresa-Time.css" />
    <title>Opções</title>
  </head>
  <body>
    <div id="container">
      <h1>Empresas</h1>
      <div id="opcoes">
        <div class="opcao">
          <a href="/empresas/cadastro" id="opcaotxt">Cadastrar empresa</a>
        </div>

        <div class="opcao">
          <a href="/empresas/usuario" id="opcaotxt">Empresas</a>
        </div>
      </div>
    </div>
    <%- include('../includes/footer') %>
  </body>
</html>
